*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body{
	height: 100%;
	width: 100%;
}

section{
	padding: 10px;
	margin: 10px;
}

a{
	color: green;
}

a:hover{
	color: crimson;
}



.vl {
  border-left: 6px solid green;
  height: 800px;
  position: fixed;
  left: 50vh;
  /*left: 27%;
  margin-left: -3px;*/
  top: 0;
}

.content{
	position: absolute;
	top: 20px;
	left: 470px;
	padding: 5px;
	margin: 10px;
}

h1{
	font-family: 'East Sea Dokdo', cursive;
	font-size: 6vh;
	text-align: center;
	color: crimson;
}


h1, h3 {
  animation: move 3s;
}

@keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



h2{
	font-family: 'East Sea Dokdo', cursive;
	font-size: 4vh;
	text-align: center
}

h3{
	font-family: 'East Sea Dokdo', cursive;
	font-size: 2.5vh;
	text-align: center;
}

article{
	font-family: 'Handlee';
}

img {
	position: fixed;
	max-width: auto;
	/*max-height: 60%;*/
	max-height: 100vh
	top:0;
	/*top: 300px;
	left: 110px;*/

}



