*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body{
	height: 100%;
	width: 100%;
}

section{
	padding: 10px;
	margin: 10px;
}

a{
	color: green;
}

a:hover{
	color: crimson;
}

.intro{
	float: left;
	position: fixed;
	top: 150px;
	left: 50px;
}

.vl {
  border-left: 6px solid green;
  height: 800px;
  position: fixed;
  left: 27%;
  margin-left: -3px;
  top: 0;
}

.content{
	position: absolute;
	top: 20px;
	left: 500px;
	padding: 5px;
	margin: 10px;
}

h1{
	font-family: 'East Sea Dokdo', cursive;
	font-size: 6vh;
}

h1:hover{
	color: crimson;
}

h2{
	font-family: 'East Sea Dokdo', cursive;
	font-size: 4vh;
	text-align: center
}

h3{
	font-family: 'East Sea Dokdo', cursive;
	font-size: 2.5vh;
	padding-left: 30px
}

article{
	font-family: 'Homemade Apple', cursive;
}